.container {
  max-width: 1440px;
  margin-inline: auto;
}

.logo-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.company-logo {
  display: flex;
  width: fit-content;
}

.logo-text {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 3px;
  margin-left: 8px;
}

.slider-top {
  padding-block: 50px;
}